[submodule "shared/KMI_Ports"]
	path = shared/KMI_Ports
url=ssh://git@github.com:Muse-Kinetics/kmi_ports.git
[submodule "shared/KMI_MDM"]
	path = shared/KMI_MDM
url=ssh://git@github.com:Muse-Kinetics/kmi_midi_device_manager.git
[submodule "shared/rtmidi"]
	path = shared/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "shared/KMI_Updates"]
	path = shared/KMI_Updates
url=ssh://git@github.com:Muse-Kinetics/kmi_updates.git