/*---------- QPushButton ---------*/
QPushButton
{
	background: none;
	border: none;
	image: url(:/resources/openkeywindow7_inactive.png)
}

QPushButton:pressed
{
	background: none;
	border: none;
	image: url(:/resources/openkeywindow7_active.png);
}