/*---------- QPushButton ---------*/
QPushButton
{
	background: none;
	border: none;
	image: url(:/resources/openkeywindow5_inactive.png)
}

QPushButton:pressed
{
	background: none;
	border: none;
	image: url(:/resources/openkeywindow5_active.png);
}